table{
	font-size: 16px;
}
th{
	height: 24px;
	color:#000;
	background-color: #eaeaea;
	text-align: center;
	border:1px solid #000;
	font-size: 16px;
}
td {
	height: 24px;
	border:1px solid #000;
	font-size: 16px;
	

}
